.oversizeimage {
	width: 30%;
	height: auto;
}

background {
	color: lightgray;
}

body {
	margin:auto;
	width:50%;
	border-radius:10em;
	border-color:gray;
}

th, td, table {
	border:1px solid black;
}